*  {
  box-sizing: border-box;
  border: 2px solid lightcoral;
  border-radius: 5px;
}

.top-header  {
  color: whitesmoke; 
  text-align: center;
  padding: 100px;
  margin-bottom: 1em;

}

.container {
  display: inline-block;
  background-color: lightskyblue;
  width: 90%;
  margin: auto;
  border-top: 3px, solid, red;
}

.navbar ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

footer {
  padding: 1.5em;
  background: lightgrey;
}

