*  {
  box-sizing: border-box;
}

 /*  Basic CSS*/



.container {
  background-color: skyblue;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}


.top-header  {
  color: whitesmoke;
  text-align: center;
  padding: 100px;
  margin-bottom: 1em;
  background-color: rgb(182, 98, 42);
}

/* .col {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
} */


.navbar ul {
  display: inline-flex;
  color: burlywood;
  text-align: center;
} 

footer {
  padding: 1.5em;
  background: lightgrey;
}


/* .container  {
display: inline-flex;
flex-direction: row;
justify-content: space-between;
} */

  /* Flexbox */


/* # FlexBox Nav Bar */
@media (min-width: 769px) {

  
  .navbar ul {
    display: flex;
    justify-content: space-between;
  }
}

/* .main-header	{
	flex-direction: column;
	align-items: center;
}

} */

@media (min-width: 1025px) {
	.navbar	ul {
		flex-direction: row;
		justify-content: space-between;
	}
}


