* {
    box-sizing: border-box;
}

/*  baseline CSS*/

body {
    background: linear-gradient( #7b76af, #e1b68b);
    width: 100%;
    margin:  auto;
}

footer, .wrap, ul, li  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 0;
    padding: 1.5em;
    background: #7d5425;
}

h1,
h2,
h3,
p {
    color: whitesmoke;
    text-align: center;
}



/* end baseline css */

/* Class Styles */

.banner {
    background-image: url("../img/farmshot.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px;
    margin-bottom: 1em;
}

.social-icon  {
    border-radius: 10px;
}


/* /class styles */

/* Navbar nav.navbar, ul*/

#navbar {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    overflow: hidden;
    background-color: #7d5425;
    position: -webkit-sticky;
    position: sticky;
}

ul  {
    list-style-type: none;
}

ul.items, li
    {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}


.active {
    background-color: #4CAF50;
    border-radius: 10px;
}

/* .brand, .logo  {
    float: right;
    margin-left: auto;
} */

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #d43c7d;
    color: whitesmoke;
    border-radius: 10px;
    text-decoration: none;
}

li a::selection {
    background-color: #d43c7d;
    color: whitesmoke;
    border-radius: 10px;

}

/* /Navbar */

/* e-newsletter signup */
    #mc_embed_signup {
        background: #C84687;
        clear: left;
        font: 14px Helvetica, Arial, sans-serif;
        width: 100%;
    }

    #mc_embed_signup .button {
        background-color: #543919;
        color: whitesmoke;
    }

    label {
        color: #f5f5f5;
    }
/* /e-newsletter sign-up */

/* Reponse */

@media all and (min-width: 799px) {
    nav.navbar, ul.items, li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .main-container {
        display: inline-flex;
        flex-direction: row;
        margin: auto;
        flex-wrap: wrap;
    }
}

    footer.wrap, ul, li {
        display: flex;
        flex-direction: row;
        justify-content: center;

}

@media (min-width: 1025px) {
    
    /* Need to figure out how to float the logo to the top right, hide the logo at queries below 1025 or 799 */
    /* nav.navbar,
    ul.items,
    li {
        flex-direction: row;
        justify-content: flex-start;
    }

    }

    }

    .logo {
        float: right;
        margin-left: auto;
    }  */